name: Create Monthly Release
on:
  schedule:
    - cron: '0 6 1 * *'
  repository_dispatch:
    types: manual-release
  workflow_dispatch:

env:
  TEXLIVE_INSTALLER_IMAGE: "texlive-installer:latest"

jobs:
  make-tag:
    name: Make Release Tag
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0 # need to get the tags, cf. https://github.com/actions/checkout/issues/701
      - name: Obtain Installer
        run: .github/scripts/build-installer-image.sh
      - name: Determine TeXlive Version
        run: .github/scripts/make-release-tag.sh
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN_REITZIG }}
          # Note: use "real" access token so workflow trigger isn't suppressed
          #       cf https://github.community/t5/GitHub-Actions/Tag-created-by-API-does-not-trigger-create/m-p/36686/highlight/true#M2653
  # --> will trigger `test-and-publish.yml` with a `create` event
